// Custom styles for Parallax effect
/* TODO:: Generate dedicated component for header feature...
   Move all markup and styles needed for Parallax */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 50em;
    transform-style: preserve-3d;
    font-family: 'Lato', normal;
}

header {
    height: 45vh;
    width: 100%;
    position: relative;
    transform-style: inherit;
}

header .header-content {
    width: 100%;
    position: absolute;
    top: 50%;
    margin: -50px 0 0 100px;

    h1, h2 {
        font-family: 'Unica One', normal;
        text-shadow: 2px 2px 2px #333;
    }
}

header::before {
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    background-color: #000;
    background-image: url('../../../../../assets/images/wp-image-144389247.jpg'); // Ad-Hoc
    background-position: top center;
    background-size: auto 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-transform: scale(1.8) translate(-10px, -65px);
    -moz-transform:    scale(1.8) translate(-10px, -65px);
    -ms-transform:     scale(1.8) translate(-10px, -65px);
    -o-transform:      scale(1.8) translate(-10px, -65px);
    transform:         scale(1.8) translate(-10px, -50px);
    transform-origin:  center center 0;
    z-index: -1;
}

header * {
    // font-weight: normal;
    letter-spacing: 0.2em;
    text-align: left;
    margin: 0;
    padding: .5em 0;
}

small {
    // color: red;
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}
