<!-- Page Header -->
<!-- TODO:: Generate component for header feature -->
<header class="app-header-config">
  <div class="app-header-content">
    <!-- <h1 class="mat-display-1">{{ welcomeMsg | uppercase }}</h1> -->
    <h2 class="mat-headline">
      <span>&#62;</span>
      <span class="app-cursor-blink">&#95;</span>
      {{ pageSubTitle | uppercase }}
    </h2>

    <mat-divider></mat-divider>

  </div>
  
</header>

<div class="container">
  <!-- Section One -->
  <section  class="app-section-config app-section-container app-section-one">
    <div class="row">
      <article class="app-article-item col s8">
        <!-- <h1 class="mat-headline">{{ section1Title | uppercase }}</h1> -->
        <!-- <mat-divider></mat-divider> -->
        <div class="app-div-item">
          <h1 class="mat-headline">
            My name is James, a <q>Full-Stack</q> Developer with a focus on Cloud-Based Software &amp; Web Applications - 
            capable of serving up Big Data in Real-Time via custom built APIs and Microservices. That being said, thank you
            for visiting this tiny piece of cyber-space that is my domain.
          </h1>
    
        </div>
    
      </article> 
    
      <article class="app-article-item col s4">
        <div class="app-div-item">
          <p>
            I have always possesed a strong passion for creating innovative, yet intuitive real-world solutions that
            provide a positive impact to it's users &amp; visitors alike.
          </p>
          <p>
            With over 18 years of professional experience, I've worked on projects
            ranging from small widgets to enterprise-level apps.
          </p>
    
        </div>
        <!-- TODO: Generate quotes.component using code below  -->
        <!-- <div>
          <div class="page-content-card accent">
            <h1 class="mat-headline">Motivational Fodder:</h1>
            <p class="mat-body-1">
              Collaborating with like-minded developers who are as excited about Web Design &amp; Development as I am!
            </p>
          </div>
        </div> -->
          
      </article>

    </div>
  
  </section>

</div>

<!-- Leave divider outside of `div.container` scope  -->
<mat-divider></mat-divider> 

<div class="container">
  <!-- Section Two -->
  <section class="app-section-config app-section-container app-section-two">
    <article class="app-article-item">
      <div class="app-div-item">
        <!-- Leveraging Ng-Material base / minimum styles -->
        <mat-card class="app-card-content">
          <mat-card-header>
            <mat-card-title>
              <h1 class="mat-title">{{ missionTitle | uppercase }}</h1>
            </mat-card-title>
            <mat-card-subtitle>
              <mat-divider></mat-divider>
            </mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content>
            <p class="mat-body-1">
              To establish myself as a valuable asset by writing clean, efficient, yet reusable code to create applications that have a positive impact on its
              users while increasing / streamlining productivity within any given industry. Always holding myself and my skill set to a higher standard. Building
              out intuitive interfaces by means of the latest industry methods &amp; standards. Never being afraid to acknowledge and learn new up-and-coming
              technologies / methodologies that can be applied when creating innovative real world solutions.
            </p>
          </mat-card-content>
  
        </mat-card>
  
      </div>
  
    </article>
      
    <!-- Ad-Hoc -->
    <div class="app-content-spacer"></div>
  
  </section>

</div>

<!-- Nest Footer Component -->
<app-footer></app-footer>
