<!-- Page Header -->
<div class="page-header-container title">
  <h1 class="mat-headline">{{ viewTitle }}</h1>
  <h2 class="mat-title">{{ viewSubTitle }}</h2>
</div>

<div class="page-header-container">
  <p>
      Hello, my name is James and thank you for taking the time to view my online portfolio. Currently my main focus is Front-End Design &amp; Development.
      <strong>I am currently available and seeking a permanent or contract to permanent position that falls under my areas of expertise.</strong>
      I have 13 years of professional experience in Web Design and 10 years in Web Development. I would consider HTML, CSS, and JavaScript to be my
      strongest areas of expertise. I have been focused on JavaScript development for the past 6 years, working with various JS frameworks, libraries,
      and plug-ins.
  </p>
  <p>
      <em>I always enjoy working with like-minded, productive programmers who are as excited about Web Design &amp; Development as I am! I am a native Floridian
      who enjoys all the outdoor activities that Florida has to offer. I also enjoy drawing, sketching, and painting. I find these to be very therapeutic as
      well as playing the guitar.</em>
  </p>
</div>
