<!-- Page Header -->
<!-- TODO:: Generate component for header feature -->
<header class="app-header-config">
  <div class="app-header-content">
    <h1 class="mat-display-1">{{ pageTitle | uppercase }}</h1>
    <mat-divider [inset]="true"></mat-divider>
    <h2 class="mat-h2">{{ pageSubTitle | uppercase }}</h2>
  </div>
</header>

<!-- Section 1 -->
<section class="app-section-config page-section-container">
  <article>
    <div>
      <h1 class="mat-headline">{{ section1Title | uppercase }}</h1>
      <p>
        My name is James and thank you for taking a few minutes to learn a little bit about myself, my current focus, skill-set, and
        what it is that I'm truly passionate about.
      </p>
      <p>
        I have always possessed a healthy appreciation for all forms of Computer Programming &amp; Development. Since my formal education and training
        is in <em>Digital Graphic Arts</em>, I consider the majority of my technical education and knowledge to be <em>self-absorbed</em> by the way of
        reading books, manuals, online courses / video tutorials.
      </p>
      <p>
        That being said, my appreciation for Development is even greater as it relates to both UI and UX. I guess this helps explain my current focus
        on the Front-End arena. I am just as comfortable within the other stages of Full-Stack Development, having worn many hats during the SDLC of
        many projects.
      </p>
    </div>

    <!-- TODO: Generate quotes.component using code below  -->
    <!-- <div>
      <div class="page-content-card accent">
        <h1 class="mat-headline">Motivational Fodder:</h1>
        <p class="mat-body-1">
          Collaborating with like-minded developers who are as excited about Web Design &amp; Development as I am!
        </p>
      </div>
    </div> -->

  </article>

  <mat-divider></mat-divider>

</section>

<!-- Section 2 -->
<section class="app-section-config page-section-container">
  <article>
    <mat-card class="page-content-card">
      <mat-card-header>
        <mat-card-title>
          <h1 class="mat-title">{{ missionTitle | uppercase }}</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body-1">
          To establish myself as a valuable asset by writing clean, efficient, yet reusable code to create applications that have a positive impact on its
          users while increasing / streamlining productivity within any given industry. Always holding myself and my skill set to a higher standard. Building
          out intuitive interfaces by means of the latest industry methods &amp; standards. Never being afraid to acknowledge and learn new up-and-coming technologies / 
          methodologies that can be applied when creating innovative real world solutions.
        </p>
      </mat-card-content>
    </mat-card>
  </article>
    
  <!-- Ad-Hoc -->
  <div class="page-content-spacer"></div>

</section>

<!-- Nest Footer Component -->
<app-footer></app-footer>
