
<footer class="app-footer">
  <mat-toolbar color="primary">
      <div class="app-footer-row">
          <section class="app-footer-section-1">
            <div>
              <span>Section 1</span>
            </div>
          </section>
          <section class="app-footer-section-2">
            <div>
              <span>Section 2</span>
            </div>
          </section>
          <section class="app-footer-section-3">
            <div>
              <span>Section 3</span>
            </div>
          </section>
        </div>
  </mat-toolbar>
</footer>
