// Parallax
/* TODO:: Generate dedicated component for header feature...
Move all markup and styles needed for Parallax */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 20rem;
    transform-style: preserve-3d;
    // font-family: 'Lato', normal;
}

header {
    height: 40vh;
    width: 100vw;
    position: relative;
    transform-style: inherit;
    // padding: 5vh;
}

header .app-header-content {
    // width: 100%;
    // top: 50%;
    position: relative;
    padding: 20vh 5vw 5vh 5vw;
    z-index: -1;

    h1, h2, h3, h4 {
        font-family: 'Comfortaa', normal;
        text-shadow: 2px 2px 2px #333;
    }
}

header::before {
    height: 500px;
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    background-color: #212121;
    background-image: url('../../../../../assets/images/sandbox-header.jpg'); // Ad-Hoc
    background-position: top center;
    background-size: auto 650px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transform-origin:  center center 0;
    -webkit-transform: scale(2) translate(0, -80px);
    -moz-transform:    scale(2) translate(0, -80px);
    -ms-transform:     scale(2) translate(0, -80px);
    -o-transform:      scale(2) translate(0, -80px);
    transform:         scale(2) translate(0, -80px);
    z-index: -1;
}

header * {
    // font-weight: normal;
    letter-spacing: .3rem;
    text-align: left;
    margin: 0;

    h1, h2, h3, h4 {
        margin: 1rem;
    }
}

small {
    // color: red;
    font-size: 1.5rem;
}

p {
    margin-bottom: 2rem;
}
