<!-- Left spacer for the mat-toolbar -->
<!-- <span class="app-navbar-spacer"></span> -->

<!-- Application title and location -->
<!-- <h1 class="app-title">{{ myLocation | uppercase }}</h1> -->

<header class="app-navbar-transistion">
  <!-- Navigation wrapper -->
  <div class="row s12">
    <!-- Main navigation & menu -->
    <mz-navbar [navbarClass]="'app-navbar'" role="navigation">
      <a routerLink="/" class="brand-logo center">
        <fa-icon [icon]="['fas', 'crown']" size="md"></fa-icon>
      </a>
  
      <mz-navbar-item-container [align]="'right'" class="app-navbar-logo-padding col s6">
        <mz-navbar-item><a routerLink="/welcome">OVERVIEW</a></mz-navbar-item>
        <mz-navbar-item><a routerLink="/about">ABOUT</a></mz-navbar-item>
      </mz-navbar-item-container>
  
      <mz-navbar-item-container [align]="'left'" class="app-navbar-logo-padding col s6">
        <mz-navbar-item><a routerLink="/projects">PROJECTS</a></mz-navbar-item>
        <mz-navbar-item><a routerLink="/contact">CONTACT</a></mz-navbar-item>
      </mz-navbar-item-container>
  
    </mz-navbar>
  
  </div>

</header>

<!-- Right spacer for the mat-toolbar -->
<!-- <span class="app-navbar-spacer"></span> -->
