/* Custom styles and/or MDC overrides.*/
.app-navbar h1  {
    font-family: 'Unica One', normal;
    // font-size: 5rem;
    // color: #fff;
    // text-shadow: 2px 2px 2px #333;
}

.mat-button {
    font-family: 'Unica One', normal;
}

h1.app-title {
    margin-left: 8px;
}

.app-is-mobile .app-navbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.app-navbar-spacer {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 8px;
    width: 100%;
}
    
.mat-toolbar-multiple-rows {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
}

.mat-toolbar-multiple-rows {
    min-height: 50px;
}.mat-toolbar-row, .mat-toolbar-single-row { 
    height: 50px;
}
