@import '~@angular/material/theming';
// Include the common styles for Angular Material.
@include mat-core();

// Set primary, accent, and warn palettes.
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// For each palette, you can optionally specify a default, lighter, and darker hue.
$app-theme-primary: mat-palette($mat-blue);
// $app-theme-accent:  mat-palette($mat-blue-grey, A400, A200, A700);
$app-theme-accent:  mat-palette($mat-light-green);
$app-theme-warn:    mat-palette($mat-deep-orange);
// Pass variables into mat-dark-theme function
$app-theme:         mat-dark-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.

// TODO:: Move these material design palette overrides to a dedicated file.
$primary-color-dark:   #1565c0;
$primary-color:        #2196f3;
$primary-color-light:  #64b5f6;
$primary-color-text:   #FFFFFF;
$accent-color:         #8BC34A;
$primary-text-color:   #212121;
$secondary-text-color: #212121;
$divider-color:        #BDBDBD;

// Pass the app-theme variable to the theme constructor.
@include angular-material-theme($app-theme);
