@import '~@angular/material/theming';

/* Custom typography config to override the font-family as well
   as the `display` and `headline` levels. */
$type-header-config: mat-typography-config(
    $font-family:   'Unica One, normal',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(32px, 48px, 700),
    $title:         mat-typography-level(20px, 32px, 500)
);

$type-section-config: mat-typography-config(
    $font-family:   'Lato, normal',
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    /* Line-height must be unit-less fraction of the font-size */
    $input:         mat-typography-level(inherit, 1.125, 400)
);

.app-header-config h1,
.app-header-config h2,
.app-header-config h3,
.app-header-config h4 {
    font-family:    mat-font-family($type-header-config);
}

.app-section-config h1,
.app-section-config h2,
.app-section-config h3,
.app-section-config h4 {
    font-family:    mat-font-family($type-header-config);
}

.app-section-config p,
.app-section-config span {
    font-family:    mat-font-family($type-section-config);
}

// Include the common styles for Angular Material.
@include mat-core();

// Set primary, accent, and warn palettes.
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// For each palette, you can optionally specify a default, lighter, and darker hue.
$app-theme-primary: mat-palette($mat-blue);
// $app-theme-accent:  mat-palette($mat-blue-grey, A400, A200, A700);
$app-theme-accent:  mat-palette($mat-light-green);
$app-theme-warn:    mat-palette($mat-deep-orange);
// Pass variables into mat-dark-theme function
$app-theme:         mat-dark-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.

// TODO:: Move these material design palette overrides to a dedicated file.
$primary-color-dark:   #1565c0;
$primary-color:        #2196f3;
$primary-color-light:  #64b5f6;
$primary-color-text:   #FFFFFF;
$accent-color:         #8BC34A;
$primary-text-color:   #212121;
$secondary-text-color: #212121;
$divider-color:        #BDBDBD;

// Pass the app-theme variable to the theme constructor.
@include angular-material-theme($app-theme);
