/* NOTE:: Relative pathing is currently not working - Believed to be related to sass-loader
   Current theme imports from .angular-cli.json via 'apps.styles' property */
app-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;   
}

app-root > app-about, 
app-root > app-contact, 
app-root > app-projects, 
app-root > app-sandbox, 
app-root > app-welcome  {
    overflow-x: hidden;
    overflow-y: auto;

    h1, h2, h3, h4 {
        // font-family: Amatic SC,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-family: Comfortaa,Helvetica Neue,Helvetica,Arial,sans-serif;
        margin: 0;
    }
}

app-navbar {
    // Create Sticky Navbar
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

body {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
}

section.page-section-container { 
    background-color: #212121;
    // background-color: #1d1d1d;
    // padding: 2rem 0;
    width: 100vw;
    z-index: 2;

    article {
        padding: 8vh 10vw 5vh;
        // TODO:: Consider page-content-well into custom function
        div.page-content-card {
            min-height: 20px;
            padding: 20px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 0;
            -webkit-box-shadow: none;
            -ms-box-shadow: none;
            box-shadow: none;
            
        }.primary {
            background-color: #404e71;
        }.accent {
            background-color: #8BC34A;
        }

        div.page-content-flat {
            min-height: 20px;
            margin-bottom: 20px;
            -webkit-box-shadow: none;
            -ms-box-shadow: none;
            box-shadow: none;
        }
        // Emphasize first letter of paragraph
        // p::first-letter {
        //     font-family: 'Fredericka the Great', normal;
        //     font-size: 3rem;
        //     line-height: .7;
        //     float: left;
        //     padding-right: 10px;
        //     padding-top: 4px;
        // }
    }

    .page-content-spacer { // Ad-Hoc
        height: 1000px;
    }
}

// Base64 Encoded Images
.angular-logo { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=='); }
// .react-logo { background: url('.'); }
// .es7-logo { background: url('.'); }
// .node-logo { background: url('.'); }
// .material-logo { background: url('.'); }
// .mongodb-logo { background: url('.'); }

// Media Queries
@media (max-width: 720px){
    // TODO:: Follow-up on this functionality
    app-root { top: 90px; }
    app-root > app-about, 
    app-root > app-contact, 
    app-root > app-projects, 
    app-root > app-sandbox, 
    app-root > app-welcome  {
        overflow-x: hidden;
        overflow-y: visible;
        padding: 10px 20px 0;
    }
}
