<!-- Custom Footer - Leveraging AMC toolbar (mat-toolbar) component -->
<footer>
  <div class="app-footer-flex-container">
    <!-- Row 1 -->
    <div class="app-footer-row-top">
      <!-- <mat-toolbar color="accent"> -->
        <!-- Section 1 -->
        <section class="app-footer-section-top">
          <article>
            <span class="mat-body-2">Section 1</span>
          </article>
        </section>
        <!-- Section 2 -->
        <section class="app-footer-section-top">
          <article>
            <span class="mat-body-2">Section 2</span>
          </article>
        </section>
        <!-- Section 3 -->
        <section class="app-footer-section-top">
          <article>
            <span class="mat-body-2">Section 3</span>
          </article>
        </section>
        <!-- Section 4 -->
        <section class="app-footer-section-top">
          <article>
            <span class="mat-body-2">Section 4</span>
          </article>
        </section>
      <!-- </mat-toolbar> -->
    </div>

    <!-- Row 2 -->
    <div class="app-footer-row-bottom">
      <mat-toolbar color="primary">
        <!-- Section 1 -->
        <section class="app-footer-section-bottom">
          <article>
            <span class="mat-body-1">
              Forging Projects - Concepts to Creations: 
            </span>
            <br>
            <span class="mat-body-1">
              James Singletary IV
              &copy; Copyright 2018
            </span>
          </article>
        </section>
        <!-- Section 2 -->
        <section class="app-footer-section-bottom">
          <article>
            <span class="mat-body-1">Footer 2</span>
          </article>
        </section>
        <!-- Section 3 -->
        <section class="app-footer-section-bottom">
          <article>
            <span class="mat-body-1">Footer 3</span>
          </article>
        </section>
        <!-- Section 4 -->
        <section class="app-footer-section-bottom">
          <article>
            <span class="mat-body-1">Footer 4</span>
          </article>
        </section>
      </mat-toolbar>
    </div>
  </div>
</footer>
