/* Custom styles and/or AMC overrides.*/
@import '../styles/flexbox-prefix';
// @import '../styles/set-bkgd-color';

footer {
    > div.app-footer-flex-container {
        @include flexbox();
        @include flexflow(column nowrap);

        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: flex-start;

        // Row Top
        > div.app-footer-row-top {
            @include flexbox();
            @include flexflow(row nowrap);

            height: 175px;
            padding: 0;
            align-items: stretch;
            align-content: center;
            justify-content: flex-start;

            section.app-footer-section-top {
                @include flexbox();
                @include flex(1);

                -webkit-box-pack: justify;
                -ms-flex-pack: distribute;
                justify-content: space-around;
    
                article {
                    margin: auto;

                    ~ * {
                        @include flexflow(column nowrap);
                        @include flex(1 1 auto);
                    }
                    div.app-footer-icon-div {
                        text-align: left;
                    }
                    h1, h2, h3, h4 {
                        font-family: mat-font-family();
                    }
                }
            }

            // section.app-footer-section-top.set-bkgd-color:nth-child(1) {  
            //     opacity: 1;
            // }

            @include order(1);
        }

        // Row Bottom
        > div.app-footer-row-bottom {
            @include flexbox();
            @include flexflow(row nowrap);

            height: 90px;
            padding: 15px 0 10px 0;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;

            section.app-footer-section-bottom {
                @include flexbox();
                @include flex(1);

                -webkit-box-pack: justify;
                -ms-flex-pack: distribute;
                justify-content: flex-start;

                article {
                    @include flexbox();
                    @include flexflow(column nowrap);

                    padding: 0 10px;

                    ~ * {
                        @include flex(1);
                    }
                    h1, h2, h3, h4 {
                        font-family: mat-font-family();
                    }
                    span.app-footer-article-header {
                        font-family: 'Unica One', Helvetica, Helvetica Neue, Arial, sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        padding-bottom: 10px;
                    }
                    span.app-footer-article-span {
                        font-family: 'Montserrat', Helvetica, Helvetica Neue, Arial, sans-serif;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 18px;
                    }
                }
            }

            section.app-footer-section-bottom:last-child {
                align-items: flex-start;
                align-content: flex-start;
                justify-content: center;

                span.app-footer-article-header {
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                }

                // TODO:: Confirm style is being applied to `<fa-icon>` elements 
                // div.app-footer-connect-icons {
                //     .ng-fa-icon > .svg-inline--fa.fa-w-14 {
                //         width: 1.2em;
                //     }
                // }
            }

            @include order(2);
        }
    }
}
